{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <style type=text/css>
  </style>
{% endblock stylesheets %}
{% block body %}
  {{ include('FrontendBundle:Default:header.html.twig') }}
  <section id="image"  class="container header-jump">
    <img class="img-responsive" src="/img/portafolio/{{imageName}}">
  </section>
  {{ include('FrontendBundle:Default:footer.html.twig') }}
{% endblock body %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
  </script>
{% endblock javascripts %}
